<footer class="gh-footer{{#match @custom.header_and_footer_color " Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="container grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="flex flex-col gap-4">
            <span class="gh-footer-logo">
                {{#if @site.logo}}
                <a href="{{@site.url}}" alt="{{@site.title}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
                {{else}}
                {{@site.title}}
                {{/if}}
            </span>
            <span>
                <span class="text-3xl font-bold">We ❤️ Open Source:</span>
                <ul class="list-none">
                    <li class="hover:list-disc">
                        <a href="https://ghost.org" target="_blank">Ghost</a>
                    </li>
                    <li class="hover:list-disc">
                        <a href="https://kubernetes.io" target="_blank">Kubernetes</a>
                    </li>
                    <li class="hover:list-disc">
                        <a href="https://www.gnu.org/gnu/linux-and-gnu.en.html" target="_blank">GNU/Linux</a>
                    </li>
                    <li class="hover:list-disc">
                        <a href="https://nodejs.org" target="_blank">NodeJS</a>
                    </li>
                    <li class="hover:list-disc">
                        <a href="https://traefik.io" target="_blank">Traefik</a>
                    </li>
                    <li class="hover:list-disc">
                        <a href="https://longhorn.io" target="_blank">Longhorn</a>
                    </li>
                    <li class="hover:list-disc">
                        <a href="https://tailscale.com" target="_blank">Tailscale</a>
                    </li>
                </ul>
            </span>
        </div>
        <div class="flex flex-col gap-4">
            <h1 class="text-3xl font-bold">Topics / Categories / Tags</h1>
            {{#get "tags" include="count.posts" order="count.posts desc" limit="all" }}
            <ul class="flex flex-wrap gap-4">
                {{#foreach tags}}
                    <a href="{{url}}" class="text-xl hover:text-slate-300">{{name}}</a>
                <li>
                </li>
                {{/foreach}}
            </ul>
            {{/get}}
        </div>
        <div class="flex flex-col gap-4">
            <h1 class="text-3xl font-bold">Search</h1>
            <input type="search" rel="search" aria-label="Search in SREDevOps.org" onclick="openModal(search.start());" oninput="openModal();" onkeypress="openModal();" placeholder="Search in SREDevOps.org" class="p-2">
        </div>
    </div>
    <div class="gh-footer-menu gh-footer-menu-secondary pt-20 pb-20">
            {{navigation type="secondary"}}
    </div>
    <div class="text-center text-xl pb-10">
        <span class="text-2xl" alt="Copyleft">🄯</span> {{@site.title}} {{date format="YYYY"}}: Our original content is licensed under GPLv3 (code), CC-BY-SA 4.0 (content), unless otherwise noted. All other content is copyrighted to their respective owners and/or authors.
    </div>

</footer>

